body {
    margin: 20px;
    font-family: arial;
    padding: 20px;
}

h1 {
    color: #56b7ff;
    font-size: 100px;
    font-style: italic;
    margin-left: 460px;
    margin-top: 0px;
}

.contacto {
    margin-left: 470px;
    font-size: 20px;
    margin-top: 30px;
}

.contacto p {
    margin-bottom: 20px;
}

.contacto a {
    text-decoration: none;
    color: #1B2631;
    transition: color 0.3s;
}

.contacto a:hover {
    color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial;
    margin: 0px;
}

.nav-img {
    width: 100px;
    height: 100px;
    margin-left: -30px;
    margin-top: -38px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #1B2631;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-item:hover {
    color: blue;
}


